/node_modules
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.backup
.env.production
.phpunit.result.cache
phpunit.xml.dist
/auth.json
/.fleet
/.phpactor.json
/src/node_modules
/src/public/hot
/src/public/storage
/src/storage/*.key
/src/storage/app/public
/src/storage/framework/cache
/src/storage/framework/sessions
/src/storage/framework/testing
/src/storage/framework/views
/src/storage/logs
/src/bootstrap/cache/*.php
.DS_Store
analysis/*.json
